<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

In [ ]:
#!pip install ipython-sql
#!pip install sqlite3
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
import sqlite3
import pandas as pd
df = pd.read_csv (r'D:\Coursera\IBM Data Science\Capstone Latest\Spacex.csv')
print (df)

           Date Time (UTC) Booster_Version   Launch_Site  \
0    04-06-2010   18:45:00  F9 v1.0  B0003   CCAFS LC-40
1    08-12-2010   15:43:00  F9 v1.0  B0004   CCAFS LC-40
2    22-05-2012   07:44:00  F9 v1.0  B0005   CCAFS LC-40
3    08-10-2012   00:35:00  F9 v1.0  B0006   CCAFS LC-40
4    01-03-2013   15:10:00  F9 v1.0  B0007   CCAFS LC-40
..          ...        ...             ...           ...
96   05-11-2020   23:24:23    F9 B5B1062.1  CCAFS SLC-40
97   16-11-2020   00:27:00   F9 B5B1061.1     KSC LC-39A
98   21-11-2020   17:17:08    F9 B5B1063.1   VAFB SLC-4E
99   25-11-2020   02:13:00  F9 B5 B1049.7   CCAFS SLC-40
100  06-12-2020   16:17:08  F9 B5 B1058.4     KSC LC-39A

                                               Payload  PAYLOAD_MASS__KG_  \
0                 Dragon Spacecraft Qualification Unit                  0
1    Dragon demo flight C1, two CubeSats, barrel of...                  0
2                                Dragon demo flight C2                525
3                                         SpaceX CRS-1                500
4                                         SpaceX CRS-2                677
..                                                 ...                ...
96                                 GPS III-04 , Crew-1               4311
97                Crew-1, Sentinel-6 Michael Freilich               12500
98      Sentinel-6 Michael Freilich, Starlink 15 v1.0                1192
99                     Starlink 15 v1.0, SpaceX CRS-21              15600
100                                      SpaceX CRS-21               2972

         Orbit                      Customer Mission_Outcome  \
0          LEO                        SpaceX         Success
1    LEO (ISS)               NASA (COTS) NRO         Success
2    LEO (ISS)                   NASA (COTS)         Success
3    LEO (ISS)                    NASA (CRS)         Success
4    LEO (ISS)                    NASA (CRS)         Success
..         ...                           ...             ...
96         MEO                          USSF         Success
97   LEO (ISS)                    NASA (CCP)         Success
98         LEO  NASA / NOAA / ESA / EUMETSAT         Success
99         LEO                        SpaceX         Success
100  LEO (ISS)                    NASA (CRS)         Success

        Landing _Outcome
0    Failure (parachute)
1    Failure (parachute)
2             No attempt
3             No attempt
4             No attempt
..                   ...
96               Success
97               Success
98               Success
99               Success
100              Success

[101 rows x 10 columns]

In [2]:
cnn = sqlite3.connect('IBMCapstoneSQL.db',)
df.to_sql('Spacex',cnn,if_exists="replace")

C:\Users\Babar\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [3]:
%load_ext sql
%sql sqlite:///IBMCapstoneSQL.db

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [4]:
%%sql
SELECT DISTINCT(Launch_Site) FROM Spacex

 * sqlite:///IBMCapstoneSQL.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [5]:
%%sql
SELECT * FROM Spacex
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5

 * sqlite:///IBMCapstoneSQL.db
Done.

[(0, '04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (1, '08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (2, '22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (3, '08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (4, '01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [6]:
%%sql
SELECT SUM(PAYLOAD_MASS__KG_) FROM Spacex
WHERE Customer = "NASA (CRS)";

 * sqlite:///IBMCapstoneSQL.db
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [7]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_) FROM Spacex
WHERE Customer = "NASA (CRS)";

 * sqlite:///IBMCapstoneSQL.db
Done.

[(2279.8,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [8]:
%%sql
SELECT Min(Date) FROM Spacex
WHERE "Landing _Outcome" LIKE 'Success (ground pad)'

 * sqlite:///IBMCapstoneSQL.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [9]:
%%sql
SELECT Booster_Version FROM Spacex
WHERE "Landing _Outcome" = "Success (drone ship)" AND
PAYLOAD_MASS__KG_>4000 and PAYLOAD_MASS__KG_<6000;

 * sqlite:///IBMCapstoneSQL.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [10]:
%%sql
SELECT Mission_Outcome, Count(Mission_Outcome) FROM Spacex
GROUP BY Mission_Outcome;

 * sqlite:///IBMCapstoneSQL.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [11]:
%%sql
SELECT Booster_Version, max(PAYLOAD_MASS__KG_) as PayloadMass FROM Spacex
GROUP BY Booster_Version ORDER BY PayloadMass DESC;

 * sqlite:///IBMCapstoneSQL.db
Done.

[('F9 B5 B1060.3', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5 B1049.3', 13620),
 ('F9 B5B1058.1 ', 12530),
 ('F9 B5B1061.1 ', 12500),
 ('F9 B5B1051.1', 12055),
 ('F9 B5 B1046.4', 12050),
 ('F9 FT B1036.1', 9600),
 ('F9 FT B1029.1', 9600),
 ('F9 FT  B1036.2', 9600),
 ('F9 B5B1048.1', 9600),
 ('F9 B5 B1049.2', 9600),
 ('F9 B4 B1041.1', 9600),
 ('F9 B4  B1041.2', 9600),
 ('F9 B5B1047.1', 7075),
 ('F9 B5B1049.1', 7060),
 ('F9 B5 B1056.3 ', 6956),
 ('F9 FT B1037', 6761),
 ('F9 B5 B1047.3 ', 6500),
 ('F9 B4  B1043.2', 6460),
 ('F9 B4 B1044', 6092),
 ('F9 FT B1034', 6070),
 ('F9 B5 B1046.2', 5800),
 ('F9 FT B1030', 5600),
 ('F9 B5 B1058.2 ', 5500),
 ('F9 B4  B1040.2', 5384),
 ('F9 FT B1032.1', 5300),
 ('F9 FT  B1021.2', 5300),
 ('F9 B5 B1047.2', 5300),
 ('F9 FT B1020', 5271),
 ('F9 FT  B1031.2', 5200),
 ('F9 B4 B1043.1', 5000),
 ('F9 B4 B1040.1', 4990),
 ('F9 B5 B1048.3', 4850),
 ('F9 v1.1 B1016', 4707),
 ('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 v1.1', 4535),
 ('F9 v1.1 B1011', 4428),
 ('F9 B5B1054', 4400),
 ('F9 B5B1062.1', 4311),
 ('F9 B5B1060.1', 4311),
 ('F9 FT  B1032.2', 4230),
 ('F9 B5 B1051.2 ', 4200),
 ('F9 v1.1 B1014', 4159),
 ('F9 B5 B1046.3', 4000),
 ('F9 FT  B1029.2', 3669),
 ('F9 FT B1024', 3600),
 ('F9 B5  B1046.1', 3600),
 ('F9 B4 B1042.1', 3500),
 ('F9 B4 B1039.1', 3310),
 ('F9 FT B1021.1', 3136),
 ('F9 B5 B1059.4', 3130),
 ('F9 FT B1023.1', 3100),
 ('F9 B5 B1048.2', 3000),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 FT B1035.1', 2708),
 ('F9 B4 B1045.2', 2697),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1 ', 2495),
 ('F9 FT B1031.1', 2490),
 ('F9 v1.1 B1012', 2395),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 FT B1025.1', 2257),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT  B1035.2', 2205),
 ('F9 FT  B1038.2', 2150),
 ('F9 FT B1019', 2034),
 ('F9 B5 B1059.2', 1977),
 ('F9 v1.1 B1018', 1952),
 ('F9 v1.1 B1015', 1898),
 ('F9 B5B1063.1', 1192),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.1  B1003', 500),
 ('F9 v1.0  B0006', 500),
 ('F9 FT B1038.1', 475),
 ('F9 B4 B1045.1', 362),
 ('F9 v1.0  B0004', 0),
 ('F9 v1.0  B0003', 0)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [12]:
%%sql
SELECT Booster_Version, Launch_Site FROM Spacex
WHERE "Landing _Outcome" LIKE "%Failure (drone ship)%" and
"Date" LIKE "%2015%"

 * sqlite:///IBMCapstoneSQL.db
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40'), ('F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [13]:
%%sql
SELECT "Landing _Outcome", Count("Landing _Outcome") as Counts  FROM Spacex
WHERE "DATE" >= "04-06-2010" AND "DATE" <= "20-03-2010"
GROUP BY "Landing _Outcome"
ORDER BY Counts desc

 * sqlite:///IBMCapstoneSQL.db
Done.

[('Success', 20),
 ('No attempt', 10),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 6),
 ('Failure (drone ship)', 4),
 ('Failure', 3),
 ('Controlled (ocean)', 3),
 ('Failure (parachute)', 2),
 ('No attempt ', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>